# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# Adding Gemfile.lock to ignore to prevent build issues
Gemfile.lock

 # This is the DEV Branch so we will not add the README
 README.md